@import "_navBar.scss";
@import "_navBar.scss";

.test {
  color:red;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-12{
	border: 1px solid lightgreen;
	
}

#kss-node .kss-section {
    max-width: 68em;
    margin-bottom: 68px;
}



