.test {
  color:red;
}

#kss-node .kss-section {
    max-width: 68em;
    margin-bottom: 68px;
}

.margin-left-14 {
	margin-left: 14px; 
}

.search-button {
	margin-top: 25px;
}


hr {
	border: 1px solid lightgray!important;
}

.kss-modifier__wrapper {
	background-color: #272B30;
}

