/*
Grid System

We use the Bootstrap's grid system and it is an important concept to understand.<br>
<strong>How the grid system works?</strong><br>
We have two important components: ROW and COLUMN.
* Rows classes are horizontal groups of columns that allow you to align correctly the columns.
The content should be the columns, and only columns may be immediate children of rows.
* Columns classes indicate the number of columns you would like to use out of the possible 12 per 
row.
Column widths are set in percentages, so they’re always fluid or sized relative to their parent element.
Columns have some horizontal padding by default.

<strong>How the grid system works across multiple devices?</strong><br>
With a handy table with the differents classes, it will be responsive under the following break point.

.col-xs- - Extra small (Auto), it will try to keep 12 colums align also in small devices.
.col-sm- - Small (544px).
.col-md- - Medium (768px).
.col-lg- - Large (992px).
.col-xl- - Extra large (1200px).

Styleguide 1
*/

/*
1 column

Markup:
<div class="row">
  <div class="col-md-12">col-md-1</div>
</div>

Styleguide 1.1
*/

/*
2 columns

Markup:
<div class="row">
  <div class="col-md-6">col-md-1</div>
  <div class="col-md-6">col-md-1</div>
</div>

Styleguide 1.2
*/

/*
3 columns

Markup:
<div class="row">
  <div class="col-md-4">col-md-1</div>
  <div class="col-md-4">col-md-1</div>
  <div class="col-md-4">col-md-1</div>
</div>

Styleguide 1.3
*/

/*
4 columns

Markup:
<div class="row">
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-3">col-md-1</div>
</div>

Styleguide 1.4
*/

/*
5 columns

Markup:
<div class="row">
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-3">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.5
*/

/*
6 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
</div>

Styleguide 1.6
*/

/*
7 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.7
*/

/*
8 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.8
*/

/*
9 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.9
*/

/*
10 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.10
*/

/*
11 columns

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.11
*/

/*
12 colums

Markup:
<div class="row">
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
  <div class="col-md-1">col-md-1</div>
</div>

Styleguide 1.12
*/

/*
6 colums

Markup:
<div class="row">
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
  <div class="col-md-2">col-md-1</div>
</div>

Styleguide 1.2
*/

